/* cpollections */
.collections {
  padding: 40px 0;
  height: 600px;
  color: white;
  position: relative;
  background: var(--black);
  z-index: 106;
}
/* collections */
.collections.carousel.carousel-inner.carousel-caption h5 {
  background: rgb(0, 0, 0, 0.4);
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
}
.collections-shopee-link img,
.collections-lazada-link img {
  transition: transform 0.2s ease-in-out;
  border-radius: 5px;
  height: 60px;
}
.collections-shopee-link img:hover,
.collections-lazada-link img:hover {
  transform: scale(1.1);
}
.carousel-item {
  transition: transform 0.6s ease-in-out;
}
.caption-buttons {
  padding: 5px 20px;
  border-radius: 4px;
}
/* media querires */
@media (max-width: 1400px) {
}

/* Tablet landscape */
@media (max-width: 992px) {
  .carousel-item > img {
    width: 500px;
    height: 400px;
    object-fit: cover;
  }
  .collections {
    height: 600px;
  }
}
@media (max-width: 768px) {
  .collections {
    height: 600px;
  }
  .collections-shopee-link img,
  .collections-lazada-link img {
    height: 50px;
  }
  .carousel-item > img {
    width: 500px;
    height: 400px;
    object-fit: cover;
  }
}

/* Smartphones */
@media (max-width: 576px) {
  .collections-shopee-link img,
  .collections-lazada-link img {
    height: 50px;
  }
  .carousel-item > img {
    width: 500px;
    height: 400px;
    object-fit: cover;
  }
}
