footer {
  padding: 20px;
  position: relative;
  z-index: 110;
  background: var(--black);
  color: rgb(124, 124, 124);
}
.footer-contact-us a {
  color: rgb(124, 124, 124);
  font-size: 1.2rem;
}
.footer-contact-us a:hover {
  color: rgb(177, 177, 177);
}
.visit-us > ul > li > ul > li {
  font-size: 1.1rem;
  margin-bottom: 5px;
}
