/* navbar */
.navbar {
  height: 67px;
  width: 100vw;
  position: fixed;
  transition: transform 0.2s ease;
  z-index: 999;
  background: var(--dark-gradient);
}
.navbar-container {
  width: 80%;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-container img {
  width: 56px;
  margin-right: 10px;
}
.navbar-container a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: NunitoSans-Black;
}
/* add margin auto to the right of the first  */
/* a:link so the others is pushed to the right  */
.navbar-container a:first-child {
  margin-right: auto;
  font-size: 2.5rem;
}
.navbar-container a:nth-child(2),
.navbar-container a:nth-child(3) {
  font-family: NunitoSans-Regular;
  font-size: 1.5rem;
  margin-inline: 5px;
  border: 1px solid transparent;
  transition: border 0.3s ease;
}
/* add undeline on hover */
.navbar-container a:nth-child(2):hover,
.navbar-container a:nth-child(3):hover {
  border-bottom: 1px solid white;
}

/* hidden class for navbar on scroll */
.hidden {
  transform: translateY(-67px);
}
