/* the video background */
#bg-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  background: rgb(0, 0, 0, 0.4);
}
/* showchase section */
.showcase {
  position: relative;
  color: white;
  z-index: 103;
  height: 100vh;
}
.showcase h1 {
  font-family: NunitoSans-Black;
  font-size: 5rem;
  margin-bottom: 10px;
  text-shadow: 0px 0px 2px rgb(0, 0, 0, 0.9);
}
.showcase p {
  font-family: Nunito, sans-serif;
  letter-spacing: 3px;
  text-shadow: 0px 0px 1px rgb(0, 0, 0, 0.9);
}
.showcase #gotoCollectionsbtn {
  color: white;
  background: rgb(201, 140, 87, 0.3);
  border: 1px solid var(--brown);
  font-family: Nunito, sans-serif;
  padding: 5px 50px;
  transition: background 0.1s ease-out;
}
.showcase #gotoCollectionsbtn:hover {
  background: rgb(201, 140, 87);
}
/* scroll down gif */
.scroll-down {
  position: absolute;
  bottom: 25px;
}

/* media queries */

/* Old desktop or large scaled UI */
@media (max-width: 1400px) {
  .showcase {
    padding-top: 0px;
  }
}

/* Tablet landscape */
@media (max-width: 992px) {
}

/* Tablet portrait */
@media (max-width: 768px) {
  .showcase {
    padding-top: 150px;
  }
}

/* Smartphones */
@media (max-width: 576px) {
  .showcase {
    padding-top: 120px;
  }
}
