:root {
  --black: #111111;
  --brown: #c98c57;
  --green: #006b5c;
  --lavander: #e6c4c0;
  --silver: #d9d2cf;
  --dark-gradient: linear-gradient(
    to left,
    rgb(37, 39, 38),
    rgb(64, 66, 65),
    rgb(64, 66, 65),
    rgb(37, 39, 38)
  );
  --new-black: rgb(37, 39, 38);
  --new-light-black: rgb(64, 66, 65);
}
/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #3a3a3a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #4d4d4d;
}
::-webkit-scrollbar-thumb:hover {
  background: #1f1f1f;
}
@font-face {
  font-family: NunitoSans-Black;
  src: url("../fonts/Nunito_Sans/NunitoSans-Black.ttf");
}
@font-face {
  font-family: NunitoSans-Regular;
  src: url("../fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}
/* add padding to the first section */
section {
  padding-top: 80px;
}
/* Media Queries */
/* Standard desktop  */

@media (max-width: 1920px) {
  :root {
    --content-padding: 4rem;
  }
}

/* Old desktop or large scaled UI */

@media (max-width: 1280px) {
  :root {
    font-size: 8px;
  }
}

/* Tablet landscape */

@media (max-width: 1024px) {
  :root {
    font-size: 10px;
    --content-width: 100%;
    --content-padding: 2rem;
  }
}

/* Tablet portrait */

@media (max-width: 800px) {
  :root {
    font-size: 9px;
  }
}

/* Smartphones */

@media (max-width: 550px) {
  :root {
    font-size: 7px;
    --content-padding: 1rem;
  }
}
