body {
  background: rgb(23, 24, 23);
}
.my-card-container {
  position: relative;
}
.my-card {
  width: 250px;
  height: auto;
  color: white;
  border-radius: 5px;
}
.my-card-head {
  padding: 20px;
  font-family: NunitoSans-Regular, sans-serif;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: rgb(37, 39, 38);
  overflow: hidden;
}
/* add btn on dashboard items */
.my-card-add {
  position: absolute;
  top: -10px;
  right: 0;
  background: rgb(37, 39, 38);
  border: 1px solid rgb(47, 107, 66);
  color: white;
  font-family: NunitoSans-Regular, sans-serif;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease, padding 0.2s ease-in-out,
    top 0.2s ease-in-out, right 0.2s ease-in-out;
  font-weight: bold;
}
/* my-card-body*************************************** */
.my-card-body {
  background: var(--silver);
  color: var(--black);
  font-family: "NunitoSans-Black", sans-serif;
  padding: 40px 0;
  text-align: center;
  height: auto;
}
.my-card-body h1 {
  margin: 0;
}
/* my-card-footer************************************* */
.my-card-footer {
  padding: 10px 20px;
  background: rgb(37, 39, 38);
  font-size: 1rem;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.dashboard-items-button {
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

/* output */
/* .outputs {
  border: 1px solid white;
} */
/* hovers ****************************************/
.my-card-add:hover {
  background: hsl(140, 100%, 30%);
  padding: 10px 20px;
  font-size: 1.3rem;
  right: -1px;
}
.dashboard-items-button:hover {
  box-shadow: 0 0 5px 1px rgb(0, 177, 59);
}
/* active style for my-cards */
.active {
  box-shadow: 0 0 1px 1px rgb(0, 177, 59);
}
