.my-card-collections-container {
  /* border: 1px solid white; */
  position: relative;
  padding: 0;
  margin: 5px;
  width: auto;
  overflow: hidden;
}
.collections-actions {
  position: absolute;
  right: -120px;
  top: 0;
  display: flex;
  transition: right 0.2s ease-in-out;
}
.collections-actions button {
  border: 0;
  margin: 0;
  padding: 15px;
  height: 55px;
  width: 55px;
  outline: none;
}
.collections-actions button:first-child {
  color: rgb(0, 41, 59);
  background: rgb(0, 173, 253);
}
.collections-actions button:last-child {
  color: rgb(48, 0, 0);
  background: rgb(255, 54, 54);
}
.my-card-collections {
  color: white;
  width: auto;
  height: auto;
}
.my-card-collections-body {
  padding: 0;
}
.my-card-collections-body img {
  width: auto;
}
.my-card-collections-footer {
  font-size: 1.5rem;
}
/* @media (max-width: 576px) {
  .my-card-collections {
    min-width: 300px;
  }
} */
