.my-card-category-container {
  /* border: 1px solid white; */
  position: relative;
  padding: 0;
  margin: 5px;
  width: auto;
  overflow: hidden;
}
.category-actions {
  position: absolute;
  right: -120px;
  top: 0;
  display: flex;
  transition: right 0.2s ease-in-out;
}
.category-actions button {
  border: 0;
  margin: 0;
  padding: 15px;
  height: 55px;
  width: 55px;
  outline: none;
}
.category-actions button:first-child {
  color: rgb(0, 41, 59);
  background: rgb(0, 173, 253);
}
.category-actions button:last-child {
  color: rgb(48, 0, 0);
  background: rgb(255, 54, 54);
}

/* mycard category */
.my-card-category {
  color: white;
  min-width: 250px;
  cursor: pointer;
  margin: 5px;
}
@media (max-width: 576px) {
  .my-card-category {
    min-width: 160px;
  }
}
