#collections-btn-add {
  border-radius: 5px;
  border: 0;
  outline: 0;
  margin-top: 10px;
  background: var(--black);
  opacity: 0.9;
  color: white;
  font-size: 1.3rem;
  padding: 10px 0;
  width: 100%;
}
#collections-btn-add:hover {
  opacity: 1;
}
#collections-modal .full-width img {
  width: 100%;
  margin-inline: auto;
}
#collections-modal .full-widt {
  /* width: 100%; */
  background: transparent;
}
#collections-modal .uploaded {
  margin-top: 40px;
}
#collections-modal .image-uploader {
  border: 1px solid transparent;
}
#collections-modal .uploaded img {
  height: auto;
}
@media screen and (max-width: 1366px) {
  #collections-modal .full-width {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  #collections-modal .full-width {
    width: 100%;
  }
}
@media screen and (max-width: 786px) {
  #collections-modal .full-width {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  #collections-modal .full-width {
    width: 100%;
  }
}
