.my-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 67px;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background: rgba(155, 155, 155, 0.4); /* Black w/ opacity */
}
.my-modal-content {
  background: var(--silver);
  max-width: 600px;
  padding: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  animation-name: animateFade;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}
/* inputs */
.my-modal-content input[type="text"],
.my-modal-content textarea,
.my-modal-content select {
  font-size: 1.5rem;
  padding: 5px;
}
/* labels */
.my-modal-content label {
  font-size: 1.2rem;
  margin-top: 3px;
  margin-bottom: 0;
}
.my-modal-header h3 {
  margin: 0;
}
/* close button */
.my-modal-header .close {
  border: none;
  background: transparent;
  outline: none;
}
/* hidden button used for centering the my-modal title*/
.my-modal-header .hide {
  visibility: hidden;
}
/* modal body */
.my-modal-body {
  overflow-y: auto;
  max-height: 450px;
}

/* Add Animation */
@keyframes animateFade {
  from {
    opacity: 0;
    z-index: 0;
  }
  to {
    opacity: 1;
    z-index: 1001;
  }
}
