#categories-btn-add {
  border-radius: 5px;
  border: 0;
  outline: 0;
  margin-top: 10px;
  background: var(--black);
  opacity: 0.9;
  color: white;
  font-size: 1.3rem;
  padding: 10px 0;
  width: 100%;
}
#categories-btn-add:hover {
  opacity: 1;
}
#categories-modal .uploaded {
  display: flex;
  justify-content: center;
}
#categories-modal .full-width img {
  height: 100%;
  margin-inline: auto;
}
#categories-modal .full-width {
  /* width: 100%; */
  background: transparent;
}
@media screen and (max-width: 1366px) {
  #categories-modal .full-width {
    height: 100%;
  }
}
@media screen and (max-width: 992px) {
  #categories-modal .full-width {
    height: 100%;
  }
}
@media screen and (max-width: 786px) {
  #categories-modal .full-width {
    height: 100%;
  }
}
@media screen and (max-width: 450px) {
  #categories-modal .full-width {
    height: 100%;
  }
}
